@use '../../partials/breakpoints' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;
@use '../../partials/colors' as *;

.footer {
    &__container {
        background-color: $cetacean_blue;
        color: $tan;
        padding: 2rem 4rem 4rem;
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    &__intro,
    &__contact,
    &__opening {
        padding-right: 2rem;
    }
    &__name,
    &__phone,
    &__email,
    &__address {
        display: flex;
        flex-direction: row;
    }
    &__nameText,
    &__phoneNumber,
    &__emailText,
    &__addressText {
        padding-left: .5rem;
    }
}