@use '../../partials/breakpoints' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;
@use '../../partials/colors' as *;

.footerContact {
    &__container {
        padding-right: 2rem;
    }
    &__name,
    &__phone,
    &__email,
    &__address {
        display: flex;
        flex-direction: row;
    }
    &__nameText,
    &__phoneNumber,
    &__emailText,
    &__addressText {
        padding-left: .5rem;
    }
}